# numpy concatenation: np.r_ & np.c_

- numpy.r_: Translates slice objects to concatenation along the first axis (row concatenation).
    - docs: https://docs.scipy.org/doc/numpy/reference/generated/numpy.r_.html
- numpy.c_: Translates slice objects to concatenation along the second axis (column concatenation).
    - docs: https://docs.scipy.org/doc/numpy/reference/generated/numpy.c_.html

In [1]:
import numpy as np
import pandas as pd
numbers = pd.DataFrame([[1,2],[3,4]])
letters = pd.DataFrame([['A','B'],['C','D']])

In [2]:
numbers

   0  1
0  1  2
1  3  4

In [3]:
letters

   0  1
0  A  B
1  C  D

In [4]:
np_r = np.r_[numbers, letters]
np_r = pd.DataFrame(np_r)
np_r

   0  1
0  1  2
1  3  4
2  A  B
3  C  D

In [5]:
np_c = np.c_[numbers, letters]
np_c = pd.DataFrame(np_c)
np_c

   0  1  2  3
0  1  2  A  B
1  3  4  C  D