In [1]:
# Create dummy variables based on one column
# Package: pandas
# Function: get_dummies()

In [2]:
import pandas as pd
df = pd.DataFrame(['A','B','C','A','D'],columns=['User'])
df

  User
0    A
1    B
2    C
3    A
4    D

In [3]:
wide_df = pd.get_dummies(df['User'],prefix='User')
wide_df.head()

   User_A  User_B  User_C  User_D
0       1       0       0       0
1       0       1       0       0
2       0       0       1       0
3       1       0       0       0
4       0       0       0       1