# Indexing in Pandas

- rows:
    - .loc for label based indexing (e.g. `df.loc[1]`)
    - .iloc for positional indexing (e.g. `df.iloc['b']`)
- columns:
    - by column name (e.g. `df[name]` or `df.gender`)
    - by column index (e.g. `df.iloc[:, 0]` or `df.iloc[:, 1]`)
- ranges:
    - `df.iloc[1:3, 2:3]` # rows 2-3, columns 3
    - `df.iloc[[0,3], [2,3]]` # rows 2 and 3, columns 3 and 4
- subsetting:
    - `df.loc[df['gender']=='M', 'name']` # get names for all males, returns a series
    - `df.loc[df['gender']=='M', ['name']]` # get names for all males, returns a dataframe
    - `df.loc[df['city']=='Sydney', :] ` # get whole rows for all people lives in Sydney, returns a dataframe

In [1]:
import pandas as pd
data = [['Abby','F',33,'Berlin'],
        ['Ben','M',16,'Tokyo'],
        ['Charlie','M',22,'Sydney'],
        ['Dave','M','65','York'],
        ['Ella','F',18,'Sydney']]
index = ['a','b','c','d','e']
columns=['name','gender','age','city']
df = pd.DataFrame(data=data, index=index, columns=columns)
df

      name gender age    city
a     Abby      F  33  Berlin
b      Ben      M  16   Tokyo
c  Charlie      M  22  Sydney
d     Dave      M  65    York
e     Ella      F  18  Sydney

## Rows

In [2]:
df.iloc[0]

name        Abby
gender         F
age           33
city      Berlin
Name: a, dtype: object

In [3]:
df.loc['a']

name        Abby
gender         F
age           33
city      Berlin
Name: a, dtype: object

## Columns

In [4]:
df['gender']

a    F
b    M
c    M
d    M
e    F
Name: gender, dtype: object

In [5]:
df.name

a       Abby
b        Ben
c    Charlie
d       Dave
e       Ella
Name: name, dtype: object

In [6]:
df.iloc[:,1]

a    F
b    M
c    M
d    M
e    F
Name: gender, dtype: object

## Ranges

In [7]:
df.iloc[1:3,2:3]

  age
b  16
c  22

In [8]:
df.iloc[[1,3], [2,3]]

  age   city
b  16  Tokyo
d  65   York

## Subsetting

In [9]:
# get names for all males, returns a series
df.loc[df['gender']=='M', 'name']

b        Ben
c    Charlie
d       Dave
Name: name, dtype: object

In [10]:
# get names for all males, returns a dataframe
df.loc[df['gender']=='M', ['name']]

      name
b      Ben
c  Charlie
d     Dave

In [11]:
# get whole row for all live in Sydney, returns a dataframe
df.loc[df['city']=='Sydney', :]

      name gender age    city
c  Charlie      M  22  Sydney
e     Ella      F  18  Sydney