# Change column names

In [1]:
import pandas as pd

In [2]:
raw_data = {'id_persons':[1,1,1,2,2,2,1], 
            'Time':['2014-01-01','2014-02-01','2014-03-01','2018-02-01','2018-01-01','2018-03-01','2014-04-01'],
            'Amount_number':[32,13,48,98,64,23,27]}
data = pd.DataFrame(raw_data)
data

   id_persons        Time  Amount_number
0           1  2014-01-01             32
1           1  2014-02-01             13
2           1  2014-03-01             48
3           2  2018-02-01             98
4           2  2018-01-01             64
5           2  2018-03-01             23
6           1  2014-04-01             27

In [3]:
data = data.rename(columns={'id_persons': 'id','Amount_number':'Amount'})
data

   id        Time  Amount
0   1  2014-01-01      32
1   1  2014-02-01      13
2   1  2014-03-01      48
3   2  2018-02-01      98
4   2  2018-01-01      64
5   2  2018-03-01      23
6   1  2014-04-01      27