# Data Cleaning: Filter Records Base on Conditions

In [1]:
import pandas as pd

data = {'User':[1,1,1,2,2,2], 
        'Time':['2014-01-01','2014-02-01','2014-03-01','2018-02-01','2018-01-01','2018-03-01']}
data_df = pd.DataFrame(data)
data_df

   User        Time
0     1  2014-01-01
1     1  2014-02-01
2     1  2014-03-01
3     2  2018-02-01
4     2  2018-01-01
5     2  2018-03-01

In [2]:
#按 A 列去重，保留 B 列中 最小的一行数据。
#方法一：
data_df.groupby('User', as_index=False)['Time'].min()

   User        Time
0     1  2014-01-01
1     2  2018-01-01

In [3]:
#方法三：
data_df.sort_values(by=['Time'],ascending=True)
data_df.drop_duplicates(['User'])

   User        Time
0     1  2014-01-01
3     2  2018-02-01