# Create a long format dataframe for Time Varying Survival Regression

Doc: https://lifelines.readthedocs.io/en/latest/Time%20varying%20survival%20regression.html#dataset-creation-for-time-varying-regression

In [1]:
from lifelines.utils import to_long_format
from lifelines.utils import add_covariate_to_timeline
import pandas as pd

In [2]:
raw_data1 = {'id':['1','2'], 
             'duration':[10,12],
             'event':[True,False],
             'var1':[0.1,0.5]}
data1 = pd.DataFrame(raw_data1)
print(data1.dtypes)
data1

id           object
duration      int64
event          bool
var1        float64
dtype: object

  id  duration  event  var1
0  1        10   True   0.1
1  2        12  False   0.5

In [3]:
raw_data2 = {'id':['1','1','1','2'], 
             'time':[0,4,8,0],
             'var2':[1.0,1.2,1.5,1.6]}
data2 = pd.DataFrame(raw_data2)
print(data2.dtypes)
data2

id       object
time      int64
var2    float64
dtype: object

  id  time  var2
0  1     0   1.0
1  1     4   1.2
2  1     8   1.5
3  2     0   1.6

In [4]:
# # data2.Var = data2.Var.astype(str)
# data2['Var'] = str(data2['Var'])  
# data2.dtypes

In [5]:
base_df = to_long_format(data1, duration_col="duration")

In [6]:
base_df

  id  event  var1  start  stop
0  1   True   0.1      0    10
1  2  False   0.5      0    12

In [7]:
# base_df = base_df.applymap(str)
# base_df.dtypes

In [8]:
df = add_covariate_to_timeline(base_df, data2, duration_col='time', id_col='id', event_col='event')

In [9]:
df

   start  var1  var2  stop id  event
0      0   0.1   1.0   4.0  1  False
1      4   0.1   1.2   8.0  1  False
2      8   0.1   1.5  10.0  1   True
3      0   0.5   1.6  12.0  2  False