# Basic Setup

In [2]:
import os
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# make the output stable across runs
np.random.seed(42)

In [3]:
## import database
# we have rename the file to fall.csv, 
fall = pd.read_csv("fall.csv")

In [4]:
fall.head()

   ACTIVITY     TIME        SL      EEG  BP   HR  CIRCLUATION
0         3  4722.92   4019.64 -1600.00  13   79          317
1         2  4059.12   2191.03 -1146.08  20   54          165
2         2  4773.56   2787.99 -1263.38  46   67          224
3         4  8271.27   9545.98 -2848.93  26  138          554
4         4  7102.16  14148.80 -2381.15  85  120          809

In [5]:
fall.tail()

       ACTIVITY     TIME        SL      EEG  BP   HR  CIRCLUATION
16377         4  9280.68  11417.00 -3021.64  36  156          654
16378         3  8479.69   9455.54 -2932.85  17  138          554
16379         2  8872.53  27449.90 -2870.00  33  156         1364
16380         4  7738.99  26466.40 -2920.24  97  156         1521
16381         3  9368.34  39149.10 -2970.00  21  196         1885

In [6]:
fall.shape

(16382, 7)

In [7]:
fall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16382 entries, 0 to 16381
Data columns (total 7 columns):
ACTIVITY       16382 non-null int64
TIME           16382 non-null float64
SL             16382 non-null float64
EEG            16382 non-null float64
BP             16382 non-null int64
HR             16382 non-null int64
CIRCLUATION    16382 non-null int64
dtypes: float64(3), int64(4)
memory usage: 896.0 KB

In [8]:
fall.columns

Index(['ACTIVITY', 'TIME', 'SL', 'EEG', 'BP', 'HR', 'CIRCLUATION'], dtype='object')

In [26]:
X = iris.data[:, 1:] # petal length and width
y = iris.target

NameError: name 'iris' is not defined

In [27]:
print(x)

NameError: name 'x' is not defined